<template>
  <section class="container">
    <AppHeader />
    <nuxt-link to="/users">Users</nuxt-link>
  </section>
</template>

<script>
import AppHeader from '~/components/AppHeader.vue'

export default {
  components:{
    AppHeader
  }
}
</script>
